[Unit]
Description=Run scripts when wifi starts
Requires=dbus.socket
After=post-user-session.target lipstick.service dbus.socket

[Service]
Type=simple
ExecStart=/home/nemo/.config/systemd/scripts/wifi-runner.py

[Install]
WantedBy=post-user-session.target
